<div class="container">
<ng-content select="[title]"></ng-content>
<div>
    <label for="processo">{{nameLabel}}</label>
    <input type="text" name="processo" id="processo" #processo>
</div>
@if (processos.length == 0) {
  <p>Nenhuma tarefa adicionada</p>
}
<p>Total de processos: {{ processos.length }}</p>
<ul>
  @for (processo of processos; track $index) {
  <li>{{processo.toString() }}</li>
  }
</ul>
    <button (click)="addProcesso(processo.value)">Adicionar</button>
    <button (click)="removeTask()">Remover</button>
    <button (click)="loadProcessos()">Carregar Processos</button>

</div>
